<mat-grid-list cols="3" rowHeight="90px">
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
      
        <img class="" src="assets/images/Nordea-logo.svg" width="100" height="40" alt="Nordea Logo"> 
        <span class="growww__nordea-grow-text">GROWWW</span>
  
    </mat-grid-tile>
  
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
      
        <form class="growww__autocomplete-form">
          <mat-form-field class="growww__full-width">
            <input type="text"
                   placeholder="Search Mutual funds"
                   aria-label="Number"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onFundSelection($event.option.value)" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
  
    </mat-grid-tile>
  
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
      
        <button mat-button mat-button mat-flat-button  color="primary" class="growww__nordea-button">Login / Register</button>
  
    </mat-grid-tile>
  
</mat-grid-list>