@import '../../styles.scss';

.growww {
    
    &__footer {
       // position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0.5rem;
        text-align: center;
        background-color: $primaryColor;
        color: $whiteColor;
        width: 100%;
    }

    &__footer p {
        margin: 0;
        font-size: $fontSmall;
        text-align: center;
    }
}