<div class="growww__compare-container">
    <div id="compareBoxId">
    <div class="growww__box">
        <div style="text-align: left; font-size: 1.25rem;">Compare Funds</div>
        <br />
        <div style="text-align: left;">Detailed comparison on parameters like NAV | Returns | Risk | Rating | Analysis
        </div>
    </div>
    <div class="growww__box">
        <div *ngIf="(modalBox1 != 1)" class="growww__fund-add-center">
            <i id="addFund1" (click)="openModal(1)" class="material-icons growww__add-icon">add_circle_outline</i>
            <h3 class="growww__add-a-fund">Add a fund</h3>
        </div>
        <div *ngIf="(modalBox1 === 1)">
            <span class="material-icons growww__cancel-icon" (click)="toggleFunds(modalBox1)">clear</span>
            <div class="growww__fund-name">{{fundData1.name}}</div>
            <div class="growww__fund-details">
                <div class="growww__fund-details-items">{{fundData1.fundType}}</div>
                <div class="growww__fund-details-items">{{fundData1.cap}}</div>
                <div class="growww__fund-details-items">{{fundData1.morningStar}}<i class="material-icons growww__morning-star">star</i></div>
            </div>
            <div>
                <button mat-button mat-button mat-flat-button  color="primary" class="growww__nordea-button">Invest Now</button>
            </div>
        </div>
    </div>
    <div class="growww__box">
        <div *ngIf="(modalBox2 !=2)" class="growww__fund-add-center">
            <i id="addFund2" (click)="openModal(2)" class="material-icons growww__add-icon">add_circle_outline</i>
            <h3 class="growww__add-a-fund">Add a fund</h3>
        </div>
        <div *ngIf="(modalBox2 === 2)">
            <span class="material-icons growww__cancel-icon" (click)="toggleFunds(modalBox2)">clear</span>
            <div class="growww__fund-name">{{fundName2}}</div>
            <div class="growww__fund-details">
                <div class="growww__fund-details-items">{{fundData2.fundType}}</div>
                <div class="growww__fund-details-items">{{fundData2.cap}}</div>
                <div class="growww__fund-details-items">{{fundData2.morningStar}}<i class="material-icons growww__morning-star">star</i></div>
            </div>
            <div>
                <button mat-button mat-button mat-flat-button  color="primary" class="growww__nordea-button">Invest Now</button>
            </div>
        </div>
    </div>
    <div class="growww__box">
        <div *ngIf="(modalBox3 !=3)" class="growww__fund-add-center">
            <i id="addFund3" (click)="openModal(3)" class="material-icons growww__add-icon">add_circle_outline</i>
            <h3 class="growww__add-a-fund">Add a fund</h3>
        </div>

        <div *ngIf="(modalBox3 === 3)">
            <span class="material-icons growww__cancel-icon" (click)="toggleFunds(modalBox3)">clear</span>
            <div class="growww__fund-name">{{fundName3}}</div>
            <div class="growww__fund-details">
                <div class="growww__fund-details-items">{{fundData3.fundType}}</div>
                <div class="growww__fund-details-items">{{fundData3.cap}}</div>
                <div class="growww__fund-details-items">{{fundData3.morningStar}}<i class="material-icons growww__morning-star">star</i></div>
            </div>
            <div>
                <button mat-button mat-button mat-flat-button  color="primary" class="growww__nordea-button">Invest Now</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--compare chart-->
<div class="growww__compare-container" style="height: auto;">
    <compare-chart [parentSubject]="parentSubject"></compare-chart>
</div>
<!--May be we can move to new component-->
<div class="growww__compare-container" style="height: auto;">
    <h2 class="growww__section-heaing">Fund Details</h2>
    <div>
        <table class="growww__fundDetails">
            <tr class="growww__table-row-even">
                <td class="growww__table-heading">
                    Risk
                </td>
                <td class="growww__table-content">{{fundData1 ? fundData1.risk:'-'}}</td>
                <td class="growww__table-content">{{fundData2 ? fundData2.risk:'-'}}</td>
                <td class="growww__table-content growww__no-right-border">{{fundData3 ? fundData3.risk:'-'}}</td>
            </tr>
            <tr class="growww__table-row-odd">
                <td class="growww__table-heading">
                    Min Purchase Amount
                </td>
                <td class="growww__table-content">{{fundData1 ? fundData1.minPurchaseAmt : '-'}}</td>
                <td class="growww__table-content">{{fundData2 ? fundData2.minPurchaseAmt :'-'}}</td>
                <td class="growww__table-content growww__no-right-border">{{fundData3 ? fundData3.minPurchaseAmt :'-'}}</td>
            </tr>
            <tr class="growww__table-row-even">
                <td class="growww__table-heading">
                    NAV
                </td>
                <td class="growww__table-content">{{fundData1 ? fundData1.nav : '-'}}</td>
                <td class="growww__table-content">{{fundData2 ? fundData2.nav:'-'}}</td>
                <td class="growww__table-content growww__no-right-border">{{fundData3 ? fundData3.nav:'-'}}</td>
            </tr>
            <tr class="growww__table-row-odd">
                <td class="growww__table-heading">
                    Fund Started
                </td>
                <td class="growww__table-content">{{fundData1 ? fundData1.fundStartDate : '-'}}</td>
                <td class="growww__table-content">{{fundData2 ? fundData2.fundStartDate:'-'}}</td>
                <td class="growww__table-content growww__no-right-border">{{fundData3 ? fundData3.fundStartDate:'-'}}</td>
            </tr>
            <tr class="growww__table-row-even">
                <td class="growww__table-heading">
                    Fund Size
                </td>
                <td class="growww__table-content">{{fundData1 ? fundData1.fundSize : '-'}}</td>
                <td class="growww__table-content">{{fundData2 ? fundData2.fundSize:'-'}}</td>
                <td class="growww__table-content growww__no-right-border">{{fundData3 ? fundData3.fundSize:'-'}}</td>
            </tr>
            <tr class="growww__table-row-odd">
                <td class="growww__table-heading">
                    ISIN
                </td>
                <td class="growww__table-content">{{fundData1 ? fundData1.isin: '-'}}</td>
                <td class="growww__table-content">{{fundData2 ? fundData2.isin: '-'}}</td>
                <td class="growww__table-content growww__no-right-border">{{fundData3 ? fundData3.isin: '-'}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="growww__compare-container" style="height: auto;">
    <h2 class="growww__section-heaing">Returns</h2>
    <div>
        <table class="growww__fundDetails">
            <tr class="growww__table-row-even">
                <td class="growww__table-heading">
                    1Y
                </td>
                <td class="growww__table-content">{{fundData1 ? fundData1.oneYear : '-'}}</td>
                <td class="growww__table-content">{{fundData2 ? fundData2.oneYear: '-'}}</td>
                <td class="growww__table-content growww__no-right-border">{{fundData3 ? fundData3.oneYear: '-'}}</td>
            </tr>
            <tr class="growww__table-row-odd">
                <td class="growww__table-heading">
                    3Y
                </td>
                <td class="growww__table-content">{{fundData1 ? fundData1.threeYears: '-'}}</td>
                <td class="growww__table-content">{{fundData2 ? fundData2.threeYears: '-'}}</td>
                <td class="growww__table-content growww__no-right-border">{{fundData3 ? fundData3.threeYears: '-'}}</td>
            </tr>
            <tr class="growww__table-row-even">
                <td class="growww__table-heading">
                    5Y
                </td>
                <td class="growww__table-content">{{fundData1 ? fundData1.fiveYears: '-'}}</td>
                <td class="growww__table-content">{{fundData2 ? fundData2.fiveYears: '-'}}</td>
                <td class="growww__table-content growww__no-right-border">{{fundData3 ? fundData3.fiveYears: '-'}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="growww__compare-container" style="height: auto;">
    <h2 class="growww__section-heaing">Top 5 Holdings</h2>
    <div>
        <table class="growww__fundDetails">
            <tr class="growww__table-row-even">
                <td class="growww__table-heading">
                    Top 5 Holdings
                </td>
                <td class="growww__table-content" *ngIf="fundData1" style="padding: 0 !important;">
                    <ul class="growww__padding-left-text growww__padding-left-zero growww__unique-ul">
                        <span style="float: left; font-weight: 500;">Name</span>
                        <span style="float: right; font-weight: 500;">Assets</span>
                    </ul>
                    <ul class="growww__padding-left-text growww__padding-left-zero growww__unique-ul" *ngFor="let fund of fundData1.topFiveHoldings; let odd=odd; let even=even; let index = index" [ngClass]="{ odd: odd, even:even}">
                        <span style="float: left;">{{fund.name}}</span>
                        <span style="float: right;">{{fund.percent}}</span>
                    </ul>
                </td>
                <td class="growww__table-content" *ngIf="!fundData1">-</td>
                <td class="growww__table-content" *ngIf="fundData2" style="padding: 0 !important;">
                    <ul class="growww__padding-left-text growww__padding-left-zero growww__unique-ul">
                        <span style="float: left; font-weight: 500;">Name</span>
                        <span style="float: right; font-weight: 500;">Assets</span>
                    </ul>
                    <ul class="growww__padding-left-text growww__padding-left-zero growww__unique-ul" *ngFor="let fund of fundData2.topFiveHoldings; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even:even}">
                        <span style="float: left;">{{fund.name}}</span>
                        <span style="float: right;">{{fund.percent}}</span>
                    </ul>
                </td>
                <td class="growww__table-content" *ngIf="!fundData2">-</td>
                <td class="growww__table-content growww__no-right-border" *ngIf="fundData3" style="padding: 0 !important;">
                    <ul class="growww__padding-left-text growww__padding-left-zero growww__unique-ul">
                        <span style="float: left; font-weight: 500;">Name</span>
                        <span style="float: right; font-weight: 500;">Assets</span>
                    </ul>
                    <ul class="growww__padding-left-text growww__padding-left-zero growww__unique-ul" *ngFor="let fund of fundData3.topFiveHoldings; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even:even}">
                        <span style="float: left;">{{fund.name}}</span>
                        <span style="float: right;">{{fund.percent}}</span>
                    </ul>
                </td>
                <td class="growww__table-content growww__no-right-border" *ngIf="!fundData3">-</td>
            </tr>
        </table>
    </div>
</div>

<div class="growww__compare-container" style="height: auto;">
    <h2 class="growww__section-heaing">Pros & Cons</h2>
    <div>
        <table class="growww__fundDetails">
            <tr class="growww__table-row-even">
                <td class="growww__table-heading">
                    Pros
                </td>
                <td class="growww__table-content growww__ul-align" *ngIf="fundData1">
                    <ul class="growww__padding-left-zero" *ngFor="let fund of fundData1.pros">
                    {{fund}}</ul>
                </td>
                <td class="growww__table-content" *ngIf="!fundData1">-</td>
                <td class="growww__table-content  growww__ul-align" *ngIf="fundData2">
                    <ul class="growww__padding-left-zero" *ngFor="let fund of fundData2.pros">
                    {{fund}}</ul>
                </td>
                <td class="growww__table-content" *ngIf="!fundData2">-</td>
                <td class="growww__table-content growww__no-right-border  growww__ul-align" *ngIf="fundData3">
                    <ul class="growww__padding-left-zero" *ngFor="let fund of fundData3.pros">
                    {{fund}}</ul>
                </td>
                <td class="growww__table-content growww__no-right-border" *ngIf="!fundData3">-</td>
            </tr>
            <tr class="growww__table-row-odd">
                <td class="growww__table-heading">
                    Cons
                </td>
                <td class="growww__table-content  growww__ul-align" *ngIf="fundData1">
                    <ul class="growww__padding-left-zero" *ngFor="let fund of fundData1.cons">
                    {{fund}}</ul>
                </td>
                <td class="growww__table-content" *ngIf="!fundData1">-</td>
                <td class="growww__table-content  growww__ul-align" *ngIf="fundData2">
                    <ul class="growww__padding-left-zero" *ngFor="let fund of fundData2.cons">
                    {{fund}}</ul>
                </td>
                <td class="growww__table-content" *ngIf="!fundData2">-</td>
                <td class="growww__table-content growww__no-right-border  growww__ul-align" *ngIf="fundData3">
                    <ul class="growww__padding-left-zero" *ngFor="let fund of fundData3.cons">
                    {{fund}}</ul>
                </td>
                <td class="growww__table-content growww__no-right-border" *ngIf="!fundData3">-</td>
            </tr>
        </table>
    </div>
</div>

<div class="growww__compare-container" style="height: auto;">
    <h2 class="growww__section-heaing">Fund Manager</h2>
    <div>
        <table class="growww__fundDetails">
            <tr class="growww__table-row-even">
                <td class="growww__table-heading">
                    Name
                </td>
                <td class="growww__table-content">{{fundData1 ? fundData1.fundManager[0].name:'-'}}</td>
                <td class="growww__table-content">{{fundData2 ? fundData2.fundManager[0].name:'-'}}</td>
                <td class="growww__table-content growww__no-right-border">{{fundData3 ? fundData3.fundManager[0].name:'-'}}</td>
            </tr>
            <tr class="growww__table-row-odd">
                <td class="growww__table-heading">
                    Education
                </td>
                <td class="growww__table-content" style="padding: 1rem; text-align: left;">{{fundData1 ? fundData1.fundManager[0].education : '-'}}</td>
                <td class="growww__table-content" style="padding: 1rem; text-align: left;">{{fundData2 ? fundData2.fundManager[0].education :'-'}}</td>
                <td class="growww__table-content growww__no-right-border" style="padding: 1rem; text-align: left;">{{fundData3 ? fundData3.fundManager[0].education:'-'}}</td>
            </tr>
            <tr class="growww__table-row-even">
                <td class="growww__table-heading">
                    Experience
                </td>
                <td class="growww__table-content" style="padding: 1rem; text-align: left;">{{fundData1 ? fundData1.fundManager[0].experience : '-'}}</td>
                <td class="growww__table-content" style="padding: 1rem; text-align: left;">{{fundData2 ? fundData2.fundManager[0].experience : '-'}}</td>
                <td class="growww__table-content growww__no-right-border" style="padding: 1rem; text-align: left;">{{fundData3 ? fundData3.fundManager[0].experience : '-'}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="growww__compare-container" style="height: auto;  margin-bottom: 20rem;">
    <h2 class="growww__section-heaing">About Fund</h2>
    <div>
        <table class="growww__fundDetails">
            <tr class="growww__table-row-even">
                <td class="growww__table-heading">
                    Description
                </td>
                <td class="growww__table-content" style="padding: 1rem; text-align: left;">{{fundData1 ? fundData1.aboutFund[0].name:'-'}}</td>
                <td class="growww__table-content" style="padding: 1rem; text-align: left;">{{fundData2 ? fundData2.aboutFund[0].name:'-'}}</td>
                <td class="growww__table-content growww__no-right-border" style="padding: 1rem; text-align: left;">{{fundData3 ? fundData3.aboutFund[0].name:'-'}}</td>
            </tr>
            <tr class="growww__table-row-odd">
                <td class="growww__table-heading">
                    Launch Date
                </td>
                <td class="growww__table-content">{{fundData1 ? fundData1.aboutFund[0].date : '-'}}</td>
                <td class="growww__table-content">{{fundData2 ? fundData2.aboutFund[0].date :'-'}}</td>
                <td class="growww__table-content growww__no-right-border">{{fundData3 ? fundData3.aboutFund[0].date:'-'}}</td>
            </tr>
            <tr class="growww__table-row-even">
                <td class="growww__table-heading">
                    Custodian
                </td>
                <td class="growww__table-content">{{fundData1 ? fundData1.aboutFund[0].bank : '-'}}</td>
                <td class="growww__table-content">{{fundData2 ? fundData2.aboutFund[0].bank : '-'}}</td>
                <td class="growww__table-content growww__no-right-border">{{fundData3 ? fundData3.aboutFund[0].bank : '-'}}</td>
            </tr>
            <tr class="growww__table-row-odd">
                <td class="growww__table-heading">
                    Registrar & Transfer Agent
                </td>
                <td class="growww__table-content">{{fundData1 ? fundData1.aboutFund[0].agent : '-'}}</td>
                <td class="growww__table-content">{{fundData2 ? fundData2.aboutFund[0].agent :'-'}}</td>
                <td class="growww__table-content growww__no-right-border">{{fundData3 ? fundData3.aboutFund[0].agent:'-'}}</td>
            </tr>
        </table>
    </div>
</div>
