<div class="growww__compare-container">
    <div class="growww__box">
        <div style="text-align: left; font-size: 1.25rem;">Compare Funds</div>
        <br />
        <div style="text-align: left;">Detailed comparison on parameters like NAV | Returns | Risk | Rating | Analysis</div>
    </div>
    <div class="growww__box" style="padding-top: 35px;">
        <i (click)="openModal()" class="material-icons" style="color: darkblue;">add_circle_outline</i> 
        <h3 class="fs012AddHeading">Add a fund</h3>
    </div>
    <div class="growww__box" style="padding-top: 35px;">
        <i (click)="openModal()" class="material-icons" style="color: darkblue;">add_circle_outline</i> 
        <h3 class="fs012AddHeading">Add a fund</h3>
    </div>
    <div class="growww__box" style="padding-top: 35px;">
        <i (click)="openModal()" class="material-icons" style="color: darkblue;">add_circle_outline</i> 
        <h3 class="fs012AddHeading">Add a fund</h3>
    </div> 
</div>