@import '../../styles.scss';

.growww {
    &__compare-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
        box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
        height: 130px;
        margin-top: 2.5rem;
    }

    &__box {
        float: left;
        width: 25%;
        box-sizing: border-box;
        background-color: $whiteColor;
        text-align: center;
        border: 1px solid $lightGrayColor;
        height: 130px;
        padding: 20px;
        position: relative;
    }

    &__add-icon {
        font-size: 2rem;
        color: $primaryColor;
    }

    &__cancel-icon {
        position: absolute;
        text-align: right;
        top: 5px;
        right: 5px;
        font-size: 20px;
        color: $primaryColor;
        cursor: pointer;
    }

    &__fund-name {
        font-size: $fontMedium;
        padding: 0 5px;
    }

    &__add-a-fund {
        font-size: $fontLarge;
    }

    &__fund-add-center {
        padding: 0.9rem;
    }
    &__fundDetails {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }
    &__fundDetails td{
        border:0px solid;
        padding: 7px;
    }
}