@import '../../styles.scss';

.growww {
    &__compare-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
        box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
        height: 165px;
        margin-top: 2.5rem;
        margin-bottom: $marginXLarge;
    }

    &__box {
        float: left;
        width: 25%;
        box-sizing: border-box;
        background-color: $whiteColor;
        text-align: center;
        border: 1px solid $lightGrayColor;
        border-bottom: none;
        height: 165px;
        padding: 20px;
        position: relative;
    }

    &__add-icon {
        font-size: 2rem;
        color: $primaryColor;
    }

    &__cancel-icon {
        position: absolute;
        text-align: right;
        top: 5px;
        right: 5px;
        font-size: 20px;
        color: $primaryColor;
        cursor: pointer;
    }

    &__morning-star {
        color: #ffba1b;
        font-size: 13px!important;
        position: relative;
        top: 2px;
        left: 1px;
        margin-bottom: 5px;
    }

    &__fund-name {
        font-size: $fontMedium;
        padding: 0 5px;
    }

    &__add-a-fund {
        font-size: $fontLarge;
    }

    &__fund-add-center {
        padding: 1.9rem;
    }

    &__fundDetails {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    &__fund-details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 18px;
        margin-top: 20px;
    }

    &__fund-details-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 11px;
        cursor: pointer;
        height: 25px;
        letter-spacing: .5px;
        border-radius: 18px;
        border: 1px solid hsla(207,5%,52%,.27);
        background-color: #fff;
        padding: 0 9px;
        margin: 0 5px;
        color: #6d6d75;
    }
    /* &__fundDetails td{
        border:0px solid;
        padding: 7px;
    } */

    &__table-row-even {
        background-color: $whiteColor;
    }

    &__table-row-odd {
        background-color: #f9fafa;
    }

    &__section-heaing {
        padding: 15px 30px;
        border-bottom: 1px solid $lightGrayColor;
        margin-bottom: 0;
    }

    &__table-heading {
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        color: #1a1a1a;
        border: none;
        font-weight: 500;
    }

    &__table-content {
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #1a1a1a;
        border: none;
        text-align: center;
        border-right: .5px solid hsla(207,5%,52%,.3);
        border-left: .5px solid hsla(207,5%,52%,.3);
    }

    &__no-right-border {
        border-right: none;
    }

    &__padding-left-zero {
        padding-left: 0;
    }

    &__unique-ul {
        height: 50px;
        margin: 0;
        margin: 0;
        height: 50px;
        margin: 0;
        line-height: 50px;
        vertical-align: middle;
        padding: 0 10px;
    }
}

.even {
    background-color: #f9fafa;
}

.odd {
    background-color: $whiteColor;
}