<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">                    
                <h2 class="card-title">Pros</h2>           
            </div>        
            <div class="card-body">
                <dl>
                    <dd *ngFor="let pro of fundDetails.pros;">{{pro}}</dd>            
                </dl>
            </div>
        </div>
    </div>
    <div class="col-lg-6">      
        <div class="card">
            <div class="card-header">                  
                <h2 class="card-title">Cons</h2>         
            </div>        
            <div class="card-body">
                <dl>
                    <dd *ngFor="let con of fundDetails.cons;">{{con}}</dd>          
                </dl>
            </div>
        </div>
    </div>
</div>