<div class="card">
  <div class="card-header border-0">
    <div class="d-flex justify-content-between">
      <img src="../../assets/images/{{fundDetails.id}}.png" alt="{{fundDetails.name}}" class="brand-image img-circle elevation-3"
           style="opacity: .8">
        <span class="text-muted"></span>
        <app-returns-field [fundDetails]="fundDetails"></app-returns-field>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex">
      <p class="d-flex flex-column">
        <span class="text-bold text-lg">{{fundDetails.name}}</span>
        <span><app-rating [rating]="fundDetails.morningStar"></app-rating></span>
      </p>
      <ul class="nav nav-pills ml-auto">
        <li class="nav-item">
          <a class="btn btn-block btn-default btn-xs" href="#">Equity</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-block btn-default btn-xs" href="#">Small Cap</a>
        </li>
      </ul>
      <p class="ml-auto d-flex flex-column text-right">
        <span class="text-muted"></span>        
      </p>
    </div>      
    <div class="position-relative mb-4">
      <div id="container" style="height: 180px;"></div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-sm-5">
        <div class="description-block">          
        </div>      
      </div>     
      <div class="col-sm-1">
        <div class="description-block">
          <button type="button" (click)="getYear(1)" [class.active]="selectedYear1" class="btn btn-block btn-outline-secondary btn-xs">1Y</button>
        </div>        
      </div>      
      <div class="col-sm-1">
        <div class="description-block">
          <button type="button" (click)="getYear(3)" [class.active]="selectedYear3" class="btn btn-block btn-outline-secondary btn-xs">3Y</button>
        </div>        
      </div>
      <div class="col-sm-1">
        <div class="description-block">
          <button type="button" (click)="getYear(5)" [class.active]="selectedYear5" class="btn btn-block btn-outline-secondary btn-xs">5Y</button>
        </div>      
      </div>        
      <div class="col-sm-4">
        <div class="description-block">          
        </div>        
      </div>    
    </div>  
  </div>
</div>