<div class="card">
    <div class="card-header border-0">
        <h2 class="card-title">Returns</h2> 
        <div class="card-tools">
            *All returns are annualized.         
        </div>       
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-striped table-valign-middle">
            <thead>
                <tr>
                    <th></th>
                    <th>1Y</th>
                    <th>3Y*</th>
                    <th>5Y*</th>
                    <th>Since inception*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{fundDetails.name}}</td>
                    <td>{{fundDetails.oneYear}}</td>
                    <td>{{fundDetails.threeYears}}</td>
                    <td>{{fundDetails.fiveYears}}</td>
                    <td>{{fundDetails.topFive}}</td>
                </tr>          
            </tbody>
      </table>
    </div>    
  </div>