<div class="card">
    <div class="card-header border-0">
        <div class="d-flex justify-content-between">
          <h2 class="card-title">Invest Now</h2>                      
        </div>
    </div>
    <div class="card-body">
        <h4 class="text-muted text-center">Enter investment amount</h4>   
        <input type="number" [(ngModel)]= "investmentAmount" name="investmentAmount" class="form-control" placeholder="0"><br>
        <div style="text-align: center;">
            <button style="margin: 1%; border-radius: 5rem;" type="button" (click)="addInvestmentAmount(5000)" class="btn btn-outline-info btn-xs float-center">+5000</button>
            <button style="margin: 1%; border-radius: 5rem;" type="button" (click)="addInvestmentAmount(10000)" class="btn btn-outline-info btn-xs float-center">+10000</button>
            <button style="margin: 1%; border-radius: 5rem;" type="button" (click)="addInvestmentAmount(20000)" class="btn btn-outline-info btn-xs float-center">+20000</button>
        </div>
        <br>
        <br>
        <div class="card-footer">
            <button type="submit" class="btn btn-info btn-xs">One Time</button>
            <button type="submit" class="btn btn-info btn-xs float-right">Monthly</button>
        </div>                    
    </div>
</div>       
