<h2>Compare Funds</h2>
<div style="border-style: ridge;max-width: 500px;display: flex;">
    <div class ="has-search">
        {{fundname}}
    </div>
    <div style="margin-top: 10px;">VS</div>
    <div class ="has-search">
      <!-- <mat-form-field>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="search" placeholder="search here" class="search-input">
        </mat-form-field>-->

        <input  type="text" style="border: 0px;"
           placeholder="Search Mutual funds"
           aria-label="Number"
           (click)="navigateCompare()"
        />
        
      </div>
</div>